.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-principal {
  padding-top: 20px; /* Adiciona um espaço entre o cabeçalho e as tarefas */
  display: flex;
  flex-direction: column;
  /* align-items: center; Centraliza os elementos */
}

.layout-container {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Garante que os elementos ocupem toda a largura disponível */
  min-height: 100vh; /* Ocupa a altura total da tela */
}

.layout-container > * {
  margin: 10px; /* Adiciona uma margem entre os componentes para evitar sobreposição */
}