.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding-top: 5%;
}

.tablewrapper {
  width: 50%; /* Ajuste conforme necessário */
}

.tracado {
  text-decoration: line-through;
}
